/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
	width: 100%;
}

body {
	line-height: 1;
	height: 100%;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color: #F0F8FF;
	width: 100%;
	height: 5%;
}

#the_video {
	width: 56.1%;
	height: 70%;
	margin-left: 14%;	
}

#embedded_video {
	width: 99.5%;
	height: 100%;
	float: right;
}

#video_info {
	width: 56.1%;
	height: 8%;
	margin-left: 14%;
}

#channel_info {
	width: 56.1%;
	height: 12%;
	margin-left: 14%;
	border-top: 1px;
	border-color: gray;
	border-style: solid;
}

#comment_section {
	width: 56.1%;
	height: 100%;
	margin-left: 14%;
	border-top: 1px;
	border-color: gray;
	border-style: solid;
}

#side_bar {
	height: 190%;
	float: right;
	width: 30%;
}

.side_video {
	padding-left: 4%;
	padding-top: 2%;
}

.video_thumbnail {
	width: 60%;
}

#search_box_container{
	text-align: center;
	width: 100%;
	height: 50%;
	padding-top: 0.5%;
}

#search_box{
	height: 70%;	
	width: 27.5%;
	font-size: 20px;
}

#title_name {
	font-size: 20px;
	padding-top: 2%;
}

#video_views {
	font-size: 14px;
	padding-top: 2%;
}

#channel_name {
	font-size: 20px;
}

#account_icon_image {
	float: left;
}

#channel_name {
	padding-top: 1%;
	padding-left: 6%;
}

#channel_subscribers {
	padding-left: 6%;
}

#video_description {
	padding-top: 1%;
	padding-left: 6%;
}

#show_more_description {
	padding-top: 0.5%;
	padding-left: 6%;
}

#comments_header {
	padding-top: 1.5%;
	font-size: 20px;
}